.textWrapper {
  position: relative;
  overflow: auto;
  flex: 1 1 auto;
  max-height: calc(89dvh - 9rem);
  top: 3rem;
  max-width: 90%;
  margin: 2rem auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background: rgba(57, 57, 57, 0.665);
  border-radius: 10px;
  border: solid 1px rgb(255, 255, 255);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
  font-family: var(--font-khand), sans-serif;
  color: whitesmoke;
  text-align: center;
}

.head {
  font-size: clamp(1.9rem, 7vw, 2rem);
  margin: 1rem;
}

.infoText {
  font-size: clamp(1.4rem, 9vw, 1.9rem);
}
