.backgroundImg {
  background: url("/images/Poachedgggwithvegetables.jpg") no-repeat center
    center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: 85% center;
}

@media (min-width: 600px) {
  .backgroundImg {
    background-position: 60% center;
  }
}
