.navContainer {
  position: relative;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
  z-index: 10;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: height 0.1s;
}

.nav {
  width: 90%;
  padding: 0.8rem;
  background: rgba(57, 57, 57, 0.18);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-radius: 10px;
  border: solid 1px rgb(255, 255, 255);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
}

.navExpanded {
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

.logo {
  justify-self: start;
  width: auto;
  height: 4.5em;
  margin-left: 0.5rem;
  grid-row: 1;
  cursor: pointer;
}

.title {
  font-family: var(--font-khand), sans-serif;
  font-weight: 500;
  justify-self: center;
  font-size: clamp(1.7rem, 6vw, 1.9rem);
  color: whitesmoke;
}

.menuButton {
  justify-self: end;
  background: none;
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.menuButton svg {
  width: 32px;
  height: 32px;
  display: block;
}

.menuContent {
  grid-column: 1 / -1;
  margin-top: 1rem;
  color: whitesmoke;
  text-align: center;
}

.menuContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuContent li {
  margin: 0.5rem 0;
  font-family: var(--font-khand), sans-serif;
  font-weight: 500;
  font-size: clamp(1.8rem, 6vw, 2rem);
  color: whitesmoke;
  cursor: pointer;
  transition: color 0.2s;
}

.menuContent li:hover {
  color: #85ec3c;
}
